
@model StudentUser

@{
    ViewData["Title"] = "studentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>THIS IS A STUDENT PROJECT</h4>
<hr />
<h1>Details</h1>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        
    </thead>
    <tbody>
        
            <tr>
                <td>@Model.FirstName</td>
                <td>@Model.LastName</td>
                <td>@Model.Email</td>
            </tr>

        

    </tbody>
</table> 

