@{
    ViewData["Title"] = "Search Student Page";
}

<div class="text-center">
    <h1 class="display-4">Search Student</h1>


    @model LibraryApp.Models.StudentUser

    <form asp-controller="Student" asp-action="searchStudentEmail" method="get">

        <label>Email</label>
        <input class="form-control" type="text" placeholder="Enter Email" asp-for="Email" />

        <button class="btn btn-primary mt-4" type="submit">Search</button>

    </form>

</div>
