@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    ViewData["Title"] = "Edit Role";
}
<h4>THIS IS A STUDENT PROJECT</h4>
<hr/>
<h2>Edit Role</h2>

<form asp-action="EditRole" method="post" class="mt-3">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label">Role Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i> Save
    </button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>